<?xml version="1.0"?>
<config>
    <modules>
        <SnowCommerce_CMSVersions>
            <version>0.1.0</version>
        </SnowCommerce_CMSVersions>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <sc_cmsversions>
                    <file>sc_cmsversions.xml</file>
                </sc_cmsversions>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <sc_cmsversions>
                <use>standard</use>
                <args>
                    <module>SnowCommerce_CMSVersions</module>
                    <frontName>sc_cmsversions</frontName>
                </args>
            </sc_cmsversions>
        </routers>
    </admin>
    <global>
        <models>
            <sc_cmsversions>
                <class>SnowCommerce_CMSVersions_Model</class>
                <resourceModel>sc_cmsversions_mysql4</resourceModel>
            </sc_cmsversions>
            <sc_cmsversions_mysql4>
                <class>SnowCommerce_CMSVersions_Model_Mysql4</class>
                <entities>
                    <sc_cmsversions_pages>
                        <table>sc_cmsversions_pages</table>
                    </sc_cmsversions_pages>
                    <sc_cmsversions_block>
                        <table>sc_cmsversions_block</table>
                    </sc_cmsversions_block>
                </entities>
            </sc_cmsversions_mysql4>
        </models>
        <blocks>
            <sc_cmsversions>
                <class>SnowCommerce_CMSVersions_Block</class>
            </sc_cmsversions>
        </blocks>
        <helpers>
            <sc_cmsversions>
                <class>SnowCommerce_CMSVersions_Helper</class>
            </sc_cmsversions>
        </helpers>
        <resources>
            <sc_cmsversions_setup>
                <setup>
                    <module>SnowCommerce_CMSVersions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sc_cmsversions_setup>
            <sc_cmsversions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sc_cmsversions_write>
            <sc_cmsversions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sc_cmsversions_read>
        </resources>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <sc_addversionsfield>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSVersions_Model_Observer</class>
                        <method>addPageVersionsField</method>
                    </sc_addversionsfield>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <cms_page_save_after>
                <observers>
                    <sc_cmspagesaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSVersions_Model_Observer</class>
                        <method>SavePageVersion</method>
                    </sc_cmspagesaving>
                </observers>
            </cms_page_save_after>
            <model_save_after>
                <observers>
                    <sc_cmsblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSVersions_Model_Observer</class>
                        <method>SaveBlockVersion</method>
                    </sc_cmsblocksaving>
                </observers>
            </model_save_after>
            <cms_page_load_after>
                <observers>
                    <sc_cmsdefaultpagesaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSVersions_Model_Observer</class>
                        <method>DefaultPageVersion</method>
                    </sc_cmsdefaultpagesaving>
                </observers>
            </cms_page_load_after>
            <core_abstract_load_after>
                <observers>
                    <sc_cmsdefaultblocksaving>
                        <type>singleton</type>
                        <class>SnowCommerce_CMSVersions_Model_Observer</class>
                        <method>DefaultBlockVersion</method>
                    </sc_cmsdefaultblocksaving>
                </observers>
            </core_abstract_load_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <sc_cmsversions before="Mage_Adminhtml">SnowCommerce_CMSVersions_Adminhtml</sc_cmsversions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>